body {
  width: 760px;
  height: 500px;
  padding: 12px 15px 0 15px;
  box-sizing: border-box;
  color: #fff;
}

.layui-form .layui-form-item {
  margin-bottom: 12px;
}
.layui-form-label {
  width: 60px;
}
.layui-input-block {
  margin-left: 90px;
}
.lay_bg_color {
  color: #000 !important;
}
.lay_bg_color .layui-input {
  color: #fff;
  border: none;
  background-color: #112350;
}
.lay_bg_color .layui-textarea {
  background-color: #112350;
  color: #fff;
  border: none;
  resize: none;
}
