* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  background-color: rgba(214, 242, 255, 0.9);
}
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #227ba6;
}

/* 头部 */
.head {
  width: 100%;
  height: 82px;
  line-height: 82px;
  text-align: center;
  font-size: 40px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  background: url(../../static/t1.png) center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}
.toBtn{
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 5;
}

.head-deta {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 4;
  font-size: 16px;
  font-weight: 400;
}

.head-deta .lt {
  float: left;
}

.head-deta .lt span {
  cursor: default;
}

.head-deta .rt {
  float: right;
}

.head-deta .layui-input-inline {
  width: auto;
}

.head-deta .layui-inline,
.head-deta .layui-input-inline {
  margin: 0;
}

.head-deta .lay-sele {
  width: 150px;
}

.head-deta xm-select {
  color: #227ba6;
  background: #ebf9fe;
  background-color: #ebf9fe !important;
  border-color: #227ba6 !important;
}
.head-deta xm-select > .xm-label .scroll .label-content {
  padding: 3px 10px;
}
.head-deta .xmSelect {
  width: 100%;
}
.head-deta .head-btn {
  width: 50px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  background-color: #227ba6 !important;
  box-sizing: border-box;
  cursor: pointer;
}

/* 中间地图 */
#map {
  position: absolute !important;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: 1;
}

/* 各区域title */
.sub-head {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 26px;
  margin: 10px 0;
  display: flex;
  position: relative;
}

.sub-head > img {
  width: 9px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 8px;
}

.sub-head p {
  font-size: 24px;
  font-family: MicrosoftYaHei;
  letter-spacing: 2px;
}

.sub-head .sub-rt {
  flex: 1;
  text-align: right;
  font-size: 16px;
  font-family: TRENDS;
  letter-spacing: 2px;
  margin-left: 15px;
  border-bottom: 2px solid #35a0c9;
  padding-right: 40px;
  box-sizing: border-box;
  position: relative;
}

.sub-rt img {
  position: absolute;
  right: 3px;
  bottom: 8px;
  width: 30px;
  height: 13px;
}

.sub-rt button {
  width: 78px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  background: #227ba6;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  letter-spacing: 1px;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 3px;
}

.sub-rt span.type {
  display: inline-block;
  width: 80px;
  height: 28px;
  text-indent: 0;
  text-align: center;
  border: 2px solid #35a0c9;
  border-bottom: none;
  box-sizing: border-box;
  cursor: default;
}

.sub-rt span.add {
  box-shadow: 0px 1px 16px 0px #35a0c9 inset;
}

/* 故障弹窗 */
.iframe {
  width: 355px;
  display: none;
}

#iframe {
  height: 290px;
}

#iframes {
  height: 555px;
}

.iframe iframe {
  width: 100%;
  height: 100%;
}

body .drop-demo .layui-layer-title {
  height: 41px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  letter-spacing: 1px;
  background: #000000;
  border-bottom: 1px solid #005ca0;
  box-sizing: border-box;
}

body .drop-demo .layui-layer-setwin {
  top: 12px;
  right: 10px;
}

body .drop-demo .layui-layer-content {
  overflow: visible;
  background: #000000;
}

body .drop-demo iframe {
  background: #000000;
}
/* 月报下载 */
.month-box {
  width: 400px;
  color: #fff;
  background: #000000;
  border: 1px solid #005ca0;
  border-top: none;
  padding: 30px 10px 10px 10px;
  box-sizing: border-box;
  display: none;
}

.month-box .layui-input {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #112350;
  border: none;
}

.month-box .lay_bg_color {
  color: #000 !important;
}

.month-box .lay_bg_color .layui-input {
  color: #fff;
  border: none;
  background-color: #112350;
}

.month-box .subbtn {
  margin-left: 110px;
}
