html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background: url("../../static/bg1.png") no-repeat;
    background-size: 100% 100%;
}

.center {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.layui-row {
    width: 100%;
    height: 100%;
    background: url("../../static/bg2.png") no-repeat;
    background-size: 100% 100%;
}

.layui-row>div {
    height: 100%;
}

.center_bg_left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.center_bg_left img {
    width: 635px;
    height: 617px;
    margin-top: 50px;
}

.login {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
}

.login .title {
    text-align: center;
    color: #66c0f5;
    font-size: 42px;
    margin-bottom: 40px;
    background-image: -webkit-linear-gradient(left, #3581e3, #499bf0, #66c0f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login .login_form {
    width: 525px;
    height: 525px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
}

.login .bg {
    width: 525px;
    height: 525px;
    background: url("../../static/ionc1.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.login .layui-form {
    width: 455px;
    height: 455px;
    margin: 0 auto;
    background-color: #333c48;
    margin-top: 25px;
    border-radius: 30px;
}

.loginTle {
    text-align: center;
    font-size: 24px;
    color: #fff;
    height: 100px;
    line-height: 100px;
    margin-bottom: 0;
}

.loginItem {
    width: 400px;
    height: 60px;
    background-color: #49515c;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.loginType {
    color: #fff;
    font-size: 24px;
}

.label {
    width: 21px;
    height: 25px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-top: 17px;
    margin-right: 25px;
}

.layui-form-item .rtIpt {
    width: 300px;
    height: 50px;
    margin-top: 5px;
}

.layui-form-item .rtIpt input {
    width: 100%;
    height: 100%;
    background-color: #49515c;
    font-size: 20px;
    border: none;
    color: #fff;
}

.btnBox {
    width: 400px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
}

.sub_btn {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: 24px;
    background-color: #5a98de;
    background: linear-gradient(to right, #6fcbf7, #3485ee);
}

.desc {
    text-align: center;
    color: #c3c3c3;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder {
    color: white;
}

input::-moz-placeholder {
    color: white;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
}