body .lay-drops .layui-layer-title {
  background: #5a98de;
}
#limits {
  display: none;
}
.tle {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #5a98de;
}
.limit {
  width: 100%;
  height: 260px;
  padding: 30px 15px;
  box-sizing: border-box;
  background-color: #08132c;
  color: #fff;
  font-size: 14px;
}
.limit .lay_bg_color {
  color: #000 !important;
}
.limit .lay_bg_color .layui-input {
  color: #fff;
  border: none;
  background-color: #112350;
}
#toolbar .layui-icon {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
