* {
  margin: 0;
  padding: 0;
}

.lt {
  float: left;
}

.rt {
  float: right;
}

dl,
li {
  list-style: none;
}

html {
  width: 680px;
  height: 450px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #08132c;
}
.layForm {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  box-sizing: border-box;
}
.layForm .layui-form-item {
  margin-bottom: 12px;
}
.layui-form-select dl {
  max-height: 200px;
}
.lay_bg_color {
  color: #000 !important;
}
.lay_bg_color .layui-input {
  color: #fff;
  border: none;
  background-color: #112350;
}
.lay_bg_color .layui-textarea {
  resize: none;
  color: #fff;
  border: none;
  background-color: #112350;
}
.subbtn {
  background-color: #5a98de;
}
