.lay-form {
  width: 355px;
  height: 372px;
  padding: 10px 0;
  border: 1px solid #005ca0;
  border-top: none;
  box-sizing: border-box;
  overflow: hidden;
}
.lay-form .layui-form-item {
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.lay-form .layui-form-label {
  width: 90px;
  padding: 9px 5px;
  color: #fff;
}
.lay-form .layui-input-block {
  width: 220px;
  min-height: 30px;
  font-size: 14px;
  margin-left: 100px;
}
.lay-form .layui-input {
  background: #112350;
  border: none;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}