* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	width: 100%;
	height: 100%;
	background: #010b1d;
	overflow: hidden;
}

/* 中间大地图 */
#maps {
	position: absolute !important;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 1;
}

#sele {
	position: fixed;
	left: -9999px;
	top: 0px;
}

/* 头部 */
.head {
	width: 100%;
	height: 82px;
	line-height: 82px;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
	font-weight: bold;
	background: url(../../static/t1.png) center no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
}

.head-deta {
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 40px;
	box-sizing: border-box;
	z-index: 4;
	font-size: 16px;
	font-weight: 400;
	color: #b4ccff;
}

.head-deta .lt {
	float: left;
}

.head-deta .lt span {
	cursor: default;
}

.head-deta .rt {
	float: right;
}

.head-deta .layui-input-inline {
	width: auto;
}

.head-deta .layui-inline,
.head-deta .layui-input-inline {
	margin: 0;
}

.head-deta .lay-sele {
	width: 150px;
	color: #000 !important;
}

.head-deta .rt .layui-input {
	color: #fff;
	border: none;
	background-color: #112350;
}

.head-deta .head-btn {
	width: 50px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #c9dbff;
	font-size: 14px;
	box-shadow: 0px 1px 16px 0px #005ca0 inset;
	border-radius: 4px;
	border: 1px solid #182dc7;
	box-sizing: border-box;
	margin-left: 20px;
	cursor: pointer;
}

.sub-head {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent: 26px;
	margin: 10px 0;
	display: flex;
	position: relative;
}

.sub-head>img {
	width: 9px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 8px;
}

.sub-head p {
	color: #ffffff;
	font-size: 24px;
	font-family: MicrosoftYaHei;
	letter-spacing: 2px;
}

.sub-head .sub-rt {
	flex: 1;
	text-align: right;
	color: #ffffff;
	font-size: 16px;
	font-family: TRENDS;
	letter-spacing: 2px;
	margin-left: 15px;
	border-bottom: 2px solid #35a0c9;
	padding-right: 40px;
	box-sizing: border-box;
	position: relative;
}

.sub-rt img {
	position: absolute;
	right: 3px;
	bottom: 8px;
	width: 30px;
	height: 13px;
}

.sub-rt button {
	width: 78px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	color: #ffffff;
	background-color: #182dc7;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 3px;
}

.sub-rt span.type {
	display: inline-block;
	width: 80px;
	height: 28px;
	text-indent: 0;
	text-align: center;
	border: 2px solid #35a0c9;
	border-bottom: none;
	box-sizing: border-box;
	cursor: default;
}

.sub-rt span.add {
	box-shadow: 0px 1px 16px 0px #35a0c9 inset;
}

.menu-lt {
	width: 480px;
	height: 100vh;
	padding-top: 102px;
	padding-left: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: #010b1d;
	/* 0915*/
}

.menu-lt .menu-top {
	width: 100%;
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-size: 28px;
	font-family: TRENDS;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 10px;
}

.menu-lt .menu-top .lt-img {
	width: 152px;
	/* height: 182px; */
	height: 152px;
	line-height: 102px;
	text-align: center;
	color: #ffffff;
	font-size: 28px;
	font-family: TRENDS;
	letter-spacing: 2px;
	background: url(../../static/h12.png) no-repeat;
	background-size: 100% 100%;
	padding: 25px;
	box-sizing: border-box;
	margin: 20px 20px;
}

.menu-lt .menu-in {
	flex: 1;
	overflow: hidden;
}

.menu-lt .menu-in .item {
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed #f1a806;
}

.menu-lt .menu-in li {
	flex: 1;
	color: #ffffff;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	font-weight: 500;
	color: rgba(184, 196, 226, 1);
	letter-spacing: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu-lt .menu-in li:nth-child(2) {
	text-align: right !important;
}

.menu-icon {
	width: 100%;
	height: 40px;
	color: #ffffff;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	padding: 10px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}

.menu-icon p {
	height: 18px;
	line-height: 18px;
}

.menu-icon img {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: top;
}

/* 右侧 */
.menu-rt {
	width: 480px;
	height: 100vh;
	padding-top: 102px;
	padding-right: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background: #010b1d;
	/* 0915*/
}

.menu-carousel {
	flex: 1;
	background: transparent;
}

.layui-carousel>[carousel-item]>* {
	color: #fff;
	background: transparent;
}

.layui-carousel>[carousel-item]:before {
	content: "";
}

.layui-carousel>[carousel-item]>.layui-this {
	display: flex;
	flex-direction: column;
}

.menu-carousel .layui-carousel-arrow:first-of-type {
	display: none;
}

.menu-rt .menu-top {
	width: 100%;
	height: 100px;
	background: rgba(5, 184, 255, 0.14);
	display: flex;
}

.menu-rt .menu-top div {
	flex: 1;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	box-sizing: border-box;
	position: relative;
}

.menu-rt .menu-top>div:nth-child(2)::after {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 1px;
	height: 60px;
	content: "";
	background-color: #35a0c9;
}

.menu-rt .menu-top>div:nth-child(2)::before {
	position: absolute;
	top: 20px;
	right: 0px;
	width: 1px;
	height: 60px;
	content: "";
	background-color: #35a0c9;
}

.menu-rt .menu-top p {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.menu-rt .menu-in {
	width: 440px;
	flex: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: rgba(5, 184, 255, 0.14);
}

.menu-rt .menu-in-tle {
	height: 41px;
	line-height: 40px;
	display: flex;
	border-bottom: 1px solid #35a0c9;
	box-sizing: border-box;
}

.menu-rt .menu-in-tle p {
	color: #07a6ff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
}

.menu-rt #menuIn {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 460px;
	padding-right: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}

.menu-rt #menuIn>div {
	width: 440px;
	height: 50px;
	line-height: 50px;
	display: flex;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	border-bottom: 1px solid #35a0c9;
	box-sizing: border-box;
}

.menu-rt #menuIn p {
	padding: 0 5px;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menu-rt .menu-in p {
	width: 25%;
	text-align: center;
}

.menu-rt .menu-in>div p:nth-child(n + 2) {
	border-left: 1px solid #35a0c9;
}

/* 第二栏 */
.el-list {
	width: 100%;
	min-height: 300px;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.gauge-item {
	width: 135px;
	height: 140px;
	margin: 5px;
}

.el-line {
	/* flex: 1; */
	height: 440px;

	position: relative;
	padding-top: 40px;
	box-sizing: border-box;
	background-color: rgba(5, 184, 255, 0.14);
}

.el-line .layui-form {
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
}

.el-line .layui-input {
	color: #fff;
	border: none;
	background-color: #112350;
}

.el-line .lay_sele {
	width: 100px;
	color: #000 !important;
}

#line {
	/* height: 100%; */
	height: 400px;
}

/* 右下站点 */
.menu-rt .menu-btm {
	width: 100%;
	height: 160px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.menu-rt .layui-form-item {
	margin-bottom: 0;
	padding: 0 10px;
	box-sizing: border-box;
}

.menu-rt .layui-form-item .layui-inline {
	height: 40px;
	margin: 0px;
}

.menu-rt .layui-form-item .layui-input-inline {
	width: 140px;
	margin-right: 0;
}

.menu-rt .layui-input-block {
	margin-left: 0;
}

.menu-rt .layui-form-item .layui-form-checkbox[lay-skin="primary"] {
	width: 100%;
	margin-top: 0;
	padding-left: 30px;
}

.menu-rt .layui-form-item .layui-form-checkbox[lay-skin="primary"] span {
	width: 100px;
	line-height: 40px;
	color: #07a6ff;
	padding-right: 0;
}

.menu-rt .layui-form-item .layui-form-checkbox[lay-skin="primary"] i {
	left: 7px;
	top: 12px;
}

.menu-rt .layui-form-item .layui-form-checked[lay-skin="primary"] i {
	color: #07a6ff;
	background-color: #091a40;
	border-color: #07a6ff !important;
	left: 6px;
}

/* 中间按钮 */
.menu_list {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 2;
}

.menu_btn {
	width: 130px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	box-shadow: 0px 1px 16px 0px #35a0c9 inset;
	border-radius: 4px;
	border: 1px solid #35a0c9;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
}

.menu_btn p {
	background: #010b1d;
}

.menu_hide {
	position: absolute;
	left: 0;
	bottom: 44px;
	width: 100%;
	display: none;
}

.menu_hide p {
	width: 130px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	box-shadow: 0px 1px 16px 0px #35a0c9 inset;
	border-radius: 4px;
	border: 1px solid #35a0c9;
	margin-bottom: 2px;
	cursor: pointer;
}

.menu_btn:hover .menu_hide {
	display: block;
}

/* 故障弹窗 */
.iframe {
	width: 355px;
	display: none;
}

#iframe {
	height: 290px;
}

#iframes {
	height: 555px;
}

.iframe iframe {
	width: 100%;
	height: 100%;
}

body .drop-demo .layui-layer-title {
	height: 42px;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	background: #000000;
	border: 1px solid #005ca0;
	box-sizing: border-box;
}

body .drop-demo .layui-layer-setwin {
	top: 12px;
	right: 10px;
}

body .drop-demo .layui-layer-content {
	overflow: visible;
	background: #000000;
}

body .drop-demo iframe {
	background: #000000;
}

/* 月报下载 */
.month-box {
	width: 400px;
	/* height: 280px; */
	color: #fff;
	background: #000000;
	border: 1px solid #005ca0;
	border-top: none;
	padding: 30px 10px 10px 10px;
	box-sizing: border-box;
	display: none;
}

.month-box .layui-input {
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #112350;
	border: none;
}

.month-box .lay_bg_color {
	color: #000 !important;
}

.month-box .lay_bg_color .layui-input {
	color: #fff;
	border: none;
	background-color: #112350;
}

.month-box .subbtn {
	margin-left: 110px;
}
