/* 左侧 */
.menu-lt {
  width: 480px;
  height: 100vh;
  padding: 102px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(214, 242, 255, 0.9);
}

.menu-lt .menu-top {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-family: TRENDS;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.menu-lt .menu-top .lt-img {
  width: 152px;
  height: 152px;
  line-height: 102px;
  text-align: center;
  font-size: 28px;
  font-family: TRENDS;
  letter-spacing: 2px;
  background: url(../../static/h12.png) no-repeat;
  background-size: 100% 100%;
  padding: 25px;
  box-sizing: border-box;
  margin: 20px 20px;
}

.menu-lt .menu-in {
  flex: 1;
  overflow: hidden;
}

.menu-lt .menu-in .item {
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #f1a806;
}

.menu-lt .menu-in li {
  flex: 1;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 500;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-lt .menu-in li:nth-child(2) {
  text-align: right !important;
}

/* 左下角和右下角的图标介绍 */
.menu-icon {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  letter-spacing: 1px;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.menu-icon p {
  height: 18px;
  line-height: 18px;
}

.menu-icon img {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
}

/* 右侧 */
.menu-rt {
  width: 480px;
  height: 100vh;
  padding: 102px 20px 90px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background: rgba(214, 242, 255, 0.9);
}

.menu-carousel {
  flex: 1;
  background: transparent;
}

.layui-carousel > [carousel-item] > * {
  background: transparent;
}

.layui-carousel > [carousel-item]:before {
  content: "";
}

.layui-carousel > [carousel-item] > .layui-this {
  display: flex;
  flex-direction: column;
}

.menu-carousel .layui-carousel-arrow:first-of-type {
  display: none;
}

.menu-carousel .layui-carousel-arrow:last-of-type {
  right: 5px !important;
  top: 40% !important;
}

.menu-rt .menu-top {
  width: 100%;
  height: 100px;
  background: #ebf9fe;
  display: flex;
}

.menu-rt .menu-top div {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  box-sizing: border-box;
  position: relative;
}

.menu-rt .menu-top > div:nth-child(2)::after {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 1px;
  height: 60px;
  content: "";
  background-color: #35a0c9;
}

.menu-rt .menu-top > div:nth-child(2)::before {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 1px;
  height: 60px;
  content: "";
  background-color: #35a0c9;
}

.menu-rt .menu-top p {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.menu-rt .menu-in {
  width: 440px;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ebf9fe;
}

.menu-rt .menu-in-tle {
  height: 41px;
  line-height: 40px;
  display: flex;
  border-bottom: 1px solid #35a0c9;
  box-sizing: border-box;
}

.menu-rt .menu-in-tle p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.menu-rt #menuIn {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 460px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.menu-rt #menuIn > div {
  width: 440px;
  height: 50px;
  line-height: 50px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 1px solid #35a0c9;
  box-sizing: border-box;
}

.menu-rt #menuIn p {
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-rt .menu-in p {
  width: 25%;
  text-align: center;
}

.menu-rt .menu-in > div p:nth-child(n + 2) {
  border-left: 1px solid #35a0c9;
}

.menu-rt-btm {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* 第二栏 */
.el-list {
  width: 100%;
  min-height: 300px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.gauge-item {
  width: 135px;
  height: 140px;
  margin: 5px;
}

.el-line {
  height: 395px;
  position: relative;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: rgba(5, 184, 255, 0.14);
}

.el-line .layui-form {
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.el-line .layui-input {
  border: none;
}

.el-line .lay_sele {
  width: 100px;
}

.el-line .lay_type {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: default;
}

.el-line .add {
  color: #000;
  border: 1px solid #35a0c9;
  box-shadow: 0px 1px 16px 0px #35a0c9 inset;
  box-sizing: border-box;
}

#layuiIcon {
  font-size: 24px;
  line-height: 40px;
  position: absolute;
  right: 10px;
  top: 0;
}

#line {
  height: 355px;
}

/* 右下站点 */
.menu-rt .menu-btm {
  width: 100%;
  /* height: 160px; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.menu-rt .checks {
  height: 80px;
}

.check {
  height: 40px;
}

.menu-rt .menu-btm .layui-form-item {
  margin-bottom: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.menu-rt .menu-btm .layui-form-item .layui-inline {
  height: 40px;
  margin: 0px;
}

.menu-rt .menu-btm .layui-form-item .layui-input-inline {
  width: 140px;
  margin-right: 0;
}

.menu-rt .menu-btm .layui-input-block {
  margin-left: 0;
}

.menu-rt .menu-btm .layui-form-item .layui-form-checkbox[lay-skin="primary"] {
  width: 100%;
  margin-top: 0;
  padding-left: 30px;
}

.menu-rt
  .menu-btm
  .layui-form-item
  .layui-form-checkbox[lay-skin="primary"]
  span {
  width: 100px;
  line-height: 40px;
  color: #07a6ff;
  padding-right: 0;
}

.menu-rt .menu-btm .layui-form-item .layui-form-checkbox[lay-skin="primary"] i {
  left: 7px;
  top: 12px;
}

.menu-rt .menu-btm .layui-form-item .layui-form-checked[lay-skin="primary"] i {
  color: #ffffff;
  background-color: #227ba6;
  border-color: #07a6ff !important;
  left: 6px;
}

/* 中间按钮 */
.menu_list {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 2;
}

.menu_btn {
  width: 130px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.menu_btn p {
  background: #227ba6;
}

.menu_hide {
  position: absolute;
  left: 0;
  bottom: 44px;
  width: 100%;
  display: none;
}

.menu_hide p {
  width: 130px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  letter-spacing: 1px;
  box-shadow: 0px 1px 16px 0px #35a0c9 inset;
  border-radius: 4px;
  border: 1px solid #35a0c9;
  margin-bottom: 2px;
  cursor: pointer;
}

.menu_btn:hover .menu_hide {
  display: block;
}
