body {
  overflow: hidden;
}
.layui-fluid {
  padding: 0px;
}
.layui-tab {
  margin: 0;
  box-sizing: border-box;
}
.layui-tab-title {
  border: none;
}

.layui-tab-title li {
  color: #fff;
  border-bottom: 1px solid #131a5f;
  margin-right: 2px;
  background-color: #1b84d2;
}
.layui-tab-title .layui-this {
  color: #fff;
  background-color: #d37540;
}
.layui-tab-title .layui-this:after {
  border: none;
}
.layui-tab-content {
  height: 400px;
  padding: 0;
}
.layui-input {
  color: #fff;
  border: none;
  background-color: #112350;
}
/* tab1*/
.layui-form {
  color: #fff;
  box-sizing: border-box;
}
.userForm {
  padding: 50px 10px;
}
.userForm .subbtn {
  margin-left: 30px;
}
/* tab2 */
.addForm {
  padding: 20px 10px;
}
.addForm .layui-form-item {
  margin-bottom: 22px;
}
.addForm .layui-inline {
  margin: 0;
}
.addForm .layui-input {
  width: 450px;
}
.addForm .lay-sele .lay-seles {
  width: 220px;
  margin-right: 7px;
  color: #000 !important;
}
.addForm .lay-sele .layui-input {
  width: 220px;
}

.addForm .xmselect {
  padding-left: 0;
}
.addForm xm-select {
  border: none;
  background-color: transparent;
}

.layui-form-select dl {
  max-height: 260px;
}
/* tab3 */
.listForm {
  padding: 10px;
}

.list {
  color: #000 !important;
  padding-bottom: 10px;
}
.listForm .subbtn {
  margin-top: 10px;
}
